* {
    box-sizing: border-box;
  }

  @font-face {
    font-family: Oswald; src: url('Fonts/Oswald/Oswald-Regular.ttf')
  }


  @font-face {
    font-family: Oswald; font-weight: light; src: url('Fonts/Oswald/Oswald-Light.ttf')
  }

  @font-face {
    font-family: Oswald; font-weight: bold; src: url('Fonts/Oswald/Oswald-Bold.ttf')
  }

  @font-face {
    font-family: Quattrocento; src: url('Fonts/Quattrocento/Quattrocento-Regular.ttf')
  }

  body {
    font-family: "Open Sans",
    sans-serif; 
    font-size: 20px;
    color: #444;
    line-height: 1.5;
  }

  header {
    background-color: #D6F014;
  }

  p, li {
    font-family: Quattrocento, sans-serif;
  }

  nav {
    background-color: #808080;
    display: flex;
    justify-content: flex-end;
  }

  nav * {
      text-decoration: none;
      display: inline-block;
      color: white;
      margin-top: auto;
      margin-bottom: auto;
      margin-right: 5px;
      
  }

  nav li {
    font-family: Oswald, sans-serif;
  }

  p {
      text-align: left;
      
  }

  h1, h2 , h3, label, .contact {
    font-family: Oswald, sans-serif;
    font-weight: bold;
  }

.techList > * {
      text-decoration: none;
      text-align: left;
      display: inline-block;
  }

section {
      text-align: center;
      padding: 2.5% 10% 2.5% 10%;
  }

section:nth-child(even) {
    background-color: #ddd;
  }

label {
    font-weight: 700;
    text-align: left;
}

.exampleImages * {
    max-height: 200px;
    max-width: 400px;
    display: inline block;
}

  footer {
      background-color: #808080;
      text-align: center;
  }

  footer * {
    text-decoration: none;
    display: inline-block;
    margin: 10px;
    color :white;
  }

  .footerLinks * {
      height: 30px;
      width: 30px;
  }

  /* Smartphones (portrait and landscape) ----------- */
@media screen and (max-width: 520px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  h1 {
    font-size: 40px;
    font-weight: 700;
    margin: 5px;
}

h2 {
  font-size: 25px;
}


  .navbar {
    height: 7%;
  }

  .hamburger {
    font-size: 15px;
    top: 8%;
    right: 1%;
  }

  .menu {
    font-size: 0;
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7%;
  }
  
footer h3 {
    font-size: 15px;
  }
}

/* iPads (portrait and landscape) ----------- */
@media screen and (min-width: 521px) and (max-width: 1024px) {
  header {
    display: flex;
    align-items: left;
  }

  .menu {
    font-size: 18px;
  }

  h1 {
    font-size: 50px;
    font-weight: 700;
    margin: 5px;
}


h2 {
  font-size: 30px;
}
  .navbar {
    height: 30px;
  }

  .hamburger {
      opacity: 0;
  }

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
  }

footer h3 {
    font-size: 18px;
  }

}
/* Desktops and laptops ----------- */
@media screen and (min-width: 1024px) {
  header {
    display: flex;
    align-items: left;
  }

  h1 {
    font-size: 60px;
    font-weight: 700;
    margin: 5px;
  }

  h2 {
    font-size: 40px;
}

  .navbar {
    height: 7%;
  }
  .menu {
    font-size: 20px;
    top: 15px;
  }

  .hamburger {
    opacity: 0;
  }

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7%;
  }

footer h3 {
  font-size: 20px;
}

}